rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /users/{userId} {
      allow read: if request.auth!= null;
      allow write: if request.auth.uid == userId;
    }
    
    match /profileViews/{viewId} {
      allow create: if request.auth!= null 
        && request.resource.data.viewerId == request.auth.uid
        && (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.plan!= 'vip'
        || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.invisibleMode!= true);
        
      allow read: if request.auth!= null 
        && resource.data.profileId == request.auth.uid;
    }
    
    match /chats/{chatId}/messages/{messageId} {
      allow read, create: if request.auth!= null;
    }
  }
}
